$default-font: "RobotoRegular", sans-serif
$accent: orange
$main_color: #23133e
$accent_color: #ffcc00

$header-nav-link-color: #f5f4f5
$button_text_color: #111111


//	Mmenu Colors
$mm_backgroundColor: $main_color !default
$mm_borderColor: rgba(#000, 0.1) !default
$mm_dimmedTextColor: rgba(#000, 0.3) !default
$mm_emphasizedBackgroundColor: rgba(#8aff6a, 0.4) !default
$mm_highlightedBackgroundColor: rgba(#000, 0.05) !default
$mm_navbarColor: rgba(#000, 0.3) !default
$mm_textColor: rgba(#000, 0.75) !default

//hamburger
$hamburger-padding-x           : 15px !default
$hamburger-padding-y           : 15px !default
$hamburger-layer-width         : 40px !default
$hamburger-layer-height        : 4px !default
$hamburger-layer-spacing       : 6px !default
$hamburger-layer-color         : $header-nav-link-color !default
$hamburger-layer-border-radius : 4px !default
$hamburger-hover-opacity       : 0.7 !default
$hamburger-active-layer-color  : $hamburger-layer-color !default
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default
