@import "fonts"
@import "vars"
@import "libs"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	padding: 0
	margin: 0
	transition: background-color .2s

	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

	&:active, &:focus
		outline: none

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666

body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 17px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	background-color: #fff
	height: 100%

#page
	display: flex
	flex-direction: column
	height: 100%

strong, b
	font-family: RobotoBold, sans-serif

h1, h2, h3, h4, h5, h6
	font-family: RobotoCondensedBold, sans-serif
	font-weight: normal

.header
	background-color: $main_color
	border-bottom: solid 1px darken($main_color, 5%)

.header-nav
	text-align: center
	font-size: .9375em
	font-family: RobotoCondensedRegular, sans-serif

	&__list
		list-style-type: none

	&__item
		color: $header-nav-link-color

		&:hover
			background-color: lighten($main_color, 5%)
			color: $accent_color

		&_parent
			position: relative

			&:after
				display: inline-block
				content: '\f0d7'
				font-family: "Font Awesome 5 Free", sans-serif
				font-weight: 900
				margin-left: -10px
				padding-right: 10px

			&:hover > .header-nav__submenu
				visibility: visible
				opacity: 100%

	&__link
		display: inline-block
		padding: 25px 28px
		text-decoration: none
		color: inherit

	&__submenu
		visibility: hidden
		position: absolute
		left: 0
		top: 100%
		z-index: 99
		opacity: 0
		transition: visibility 0s, opacity .3s linear

.header-submenu
	@extend .header-nav
	background-color: $main_color
	list-style-type: none

	&__submenu
		visibility: hidden
		opacity: 0
		position: absolute
		left: 100%
		top: 0
		transition: visibility 0s, opacity .3s

	&__item
		@extend .header-nav__item
		border-bottom: lighten($main_color, 15%) 1px solid

		&_parent
			position: relative

			&:hover > .header-submenu__submenu
				visibility: visible
				opacity: 100%


		&:last-child
			border-bottom: none

	&__link
		@extend .header-nav__link
		white-space: nowrap
		width: 100%
		padding: 10px 20px

.hamburger
	display: none

.top-panel
	background-color: rgba($main_color, .6)
	padding: 50px 0
	color: $top-panel_main-color

	&__logo-img
		max-width: 100%

	&__button
		align-self: flex-end
		margin-top: auto

.info-box
	display: flex
	flex-direction: row
	flex-wrap: wrap

	&__title
		display: block
		font-family: RobotoCondensedRegular, sans-serif
		text-transform: uppercase
		border-bottom: 1px solid #80672f
		padding-bottom: 5px
		font-size: .9375em
		flex-basis: 100%

	&__content
		font-size: .75em
		font-family: RobotoRegular, sans-serif
		flex-basis: 48%
		flex-grow: 1
		position: relative
		padding: 10px 25px
		opacity: .4

		&_footer
			flex-basis: 100%
			padding: 5px 25px

			&:hover
				opacity: 1
				transition: opacity .3s

		&_geo, &_time
			&:before
				content: '\f21d'
				display: inline-block
				font-family: "Font Awesome 5 Free", sans-serif
				font-weight: 600
				font-size: 1em
				position: absolute
				left: 0
				top: 10px

		&_time
			&:before
				content: '\f017'
				font-weight: 400

	&__item
		list-style-type: none
		opacity: .3
		font-size: .8125em
		padding: 5px 0px 5px 20px
		position: relative

		&:hover
			opacity: 1
			transition: opacity .4s ease

		&:before
			content: '\f00c'
			font-family: "Font Awesome 5 Free", sans-serif
			font-weight: 600
			position: absolute
			top: 5px
			left: 0

	&__link
		color: inherit
		text-decoration: none

.contact-box
	display: flex
	flex-direction: column
	align-items: flex-start
	height: 100%

	&__tel, &__email
		font-size: 1.1em
		font-family: RobotoCondensedRegular, sans-serif
		align-self: flex-end
		line-height: 20px

		span
			font-size: .70em
			opacity: .4

			&:before
				content: '\f095'
				display: inline-block
				margin-right: 5px
				opacity: .3
				font-weight: 600
				transform: rotate(90deg)
				//font-size: .9em
				font-family: "Font Awesome 5 Free", sans-serif

	&__email
		align-self: flex-end
		font-size: .85em
		color: $top-panel_main-color

		span
			font-size: 1em

			&:before
				content: '\f0e0'
				font-size: 1em
				transform: none

	&__email-link
		color: $top-panel_main-color

//slider styles
.slider-section
	position: relative

	&__top-panel
		position: absolute
		top: 0
		width: 100%
		z-index: 2

.slider
	position: relative

	&__nav
		position: absolute
		top: 0
		right: 0
		left: 0
		margin-left: auto
		margin-right: auto
		min-height: 100%
		color: $accent_color

	&__arrow
		position: absolute
		top: 50%
		z-index: 5
		cursor: pointer
		font-family: "Font Awesome 5 Free", sans-serif
		font-weight: 600
		text-rendering: auto
		font-size: 2.5em

		&:hover
			color: lighten($accent_color, 10%)

		&:active
			color: darken($accent_color, 10%)

		&-next
			right: 0

			&:before
				content: '\f105'

		&-prev
			left: 0

			&:before
				content: '\f104'

.slide
	color: #ffffff
	position: relative
	padding-top: 250px
	padding-bottom: 70px

	&__bg
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%

	&__content
		display: flex
		flex-direction: row
		z-index: 5

	&__info
		display: flex
		flex-direction: column
		flex-basis: 48%

	&__title
		font-family: "RobotoCondensedLight", sans-serif
		font-size: 3em
		margin-top: 0
		line-height: 1.1875em
		margin-bottom: 30px
		position: relative
		right: 100px
		opacity: 0
		transition: all .5s ease
	&.active &__title
		right: 0
		opacity: 100

		&:first-line
			color: $accent_color

	&__text
		font-family: "Roboto Light", sans-serif
		margin-bottom: 30px
		position: relative
		bottom: 100px
		opacity: 0
		transition: all .25s ease .25s
	&.active &__text
		bottom: 0
		opacity: 100


	&__img-container
		flex-basis: 48%
		display: flex
		flex-direction: column
		justify-content: center

	&__button
		align-self: flex-start


.owl-dots
	position: absolute
	width: 100%
	bottom: 30px
	text-align: center

.owl-dot
	display: inline-block
	margin: 0 5px
	width: .9em
	height: .9em
	border-radius: 50%
	background-color: #000 !important

	&.active
		background-color: $accent_color !important
.section
	padding: 70px 0
	&__title
		margin-bottom: 45px
		font-size: 2.5em
		line-height: 1.125em
		text-transform: uppercase
.stat-section
	background-color: $main_color
	color: $header-nav-link-color
	padding: 30px 0

.item
	display: flex
	flex-direction: row
	align-items: center
	height: 100%

	&__star
		position: relative
		font-size: 4em

		&:before
			z-index: 0
			display: block
			content: "\f005"
			font-family: "Font Awesome 5 Free", sans-serif
			font-weight: 600
			color: lighten($main_color, 30%)

	&__num
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		text-align: center
		z-index: 2
		font-size: .4em
		line-height: 405%
		color: $accent_color

	&__desc
		padding-left: 20px
		font-family: RobotoCondensedLight, sans-serif
		opacity: .3

.cat-item
	display: flex
	flex-direction: column
	align-items: center
	background-color: #fff
	border: 3px solid $main_color
	padding-bottom: 30px
	transition: all .25s ease

	&__img-container
		position: relative
		display: block
		min-height: 190px
		background-position: center center
		-webkit-background-size: cover
		background-size: cover
		height: 100%
		width: 100%

		&:before, &:after
			position: absolute
			opacity: 0
			transition: opacity .3s ease

		&:before
			content: '\f06e'
			display: block
			position: absolute
			left: 43%
			top: 37%
			font-family: "Font Awesome 5 Free", sans-serif
			font-weight: 600
			font-size: 1.6em
			text-decoration: none
			color: $accent_color

		&:after
			content: ''
			left: 0
			right: 0
			top: 0
			bottom: 0
			background-color: rgba($main_color, .3)

		&:hover:after, &:hover:before
			opacity: 100

	&__title
		font-family: "RobotoCondensedBold", sans-serif
		font-size: 1.15em
		text-transform: uppercase
		margin: 15px 0px

	&__price
		margin-bottom: 20px
		font-family: "RobotoBold", sans-serif

		span
			font-size: 1.25em

		&:before
			content: '\f02c'
			display: inline-block
			font-family: "Font Awesome 5 Free", sans-serif
			font-weight: 600
			color: $accent_color
			margin-right: 10px
			line-height: 1.25em

	&:hover
		z-index: 5
		transform: scale(1.05)
		border-color: $accent_color
		box-shadow: #0a0f13 0 0 10px 2px

	&:hover + .cat-item
		z-index: 0


.news-section
	background-image: url(../img/news-bg.jpg)
	background-size: cover
	position: relative

	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		background-color: $main_color
		opacity: .6
	&__title
		color: #fff

.news-item
	display: flex
	flex-direction: column
	align-items: center
	border: 1px solid $main_color
	padding-bottom: 30px
	background-color: #fff
	transition: all .25s ease

	&__img-container
		position: relative
		display: block
		min-height: 190px
		background-position: center center
		-webkit-background-size: cover
		background-size: cover
		height: 100%
		width: 100%

		&:before, &:after
			position: absolute
			opacity: 0
			transition: opacity .3s ease

		&:before
			content: '\f06e'
			display: block
			position: absolute
			left: 43%
			top: 37%
			font-family: "Font Awesome 5 Free", sans-serif
			font-weight: 600
			font-size: 1.6em
			text-decoration: none
			color: $accent_color

		&:after
			content: ''
			left: 0
			right: 0
			top: 0
			bottom: 0
			background-color: rgba($main_color, .3)

		&:hover:after, &:hover:before
			opacity: 100

	&__title
		font-family: "RobotoCondensedBold", sans-serif
		font-size: 1.15em
		text-align: center
		text-transform: uppercase
		margin: 15px 0

	&__text
		padding: 0 10px

	&__more-button
		margin-top: 20px

	&:hover
		z-index: 5
		border-color: $accent_color

	&:hover + .cat-item
		z-index: 0


.links-section
	background-color: #EFEFEF
.link-item
	display: flex
	flex-direction: row
	border: 3px solid $accent_color
	padding: 5px 10px
	align-items: center
	margin-bottom: 20px
	background-color: #fff
	&:hover
		text-decoration: none

	&__img-container
		flex-basis: 30%
		margin-right: 10px
	&__img
		display: block
		max-width: 60%
		margin-left: auto
		margin-right: auto
	&__text
		flex-basis: 70%
		color: #000
		font-family: RobotoCondensedBold, sans-serif
		text-transform: uppercase
		line-height: 1.2em

.button
	font-family: RobotoCondensedBold, sans-serif
	text-transform: uppercase
	text-decoration: none
	color: $button_text_color
	background-color: $accent_color
	border: none
	border-radius: 2px
	font-size: .9em
	padding: 10px 35px
	cursor: pointer
	display: block
	width: fit-content


	&:hover
		background-color: lighten($accent_color, 10%)
		text-decoration: none

	&:active
		background-color: darken($accent_color, 10%)

	&_small
		padding: 8px 25px
		font-size: .875em

.footer
	background-color: darken($main_color, 20%)
	color: $top-panel_main-color
	margin-top: auto
	padding: 70px 0px

	&__button
		align-self: flex-end
		margin-top: 20px

@import "media"
// Всегда в конце
